.env
.env.*
node_modules
npm-debug.log
.git
.gitignore
.github
.vscode
.idea
dist
README.md
# Jangan mengabaikan direktori uploads, tetapi hanya file di dalamnya
uploads/**/*.jpg
uploads/**/*.jpeg
uploads/**/*.png
uploads/**/*.gif
test
postman 